* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 750px;
  margin: 0 auto;
}
.swiper {
  width: 100%;
  overflow: hidden;
}
ul {
  width: 800%;
  display: flex;
  transition: transform 400ms;
}
li {
  list-style: none;
  flex: 1;
}
img {
  width: 100%;
}
